/* user setting */
:root {
    --ff-base: "Plus Jakarta Sans", sans-serif;
    --fs-preset-1: clamp(2.5rem, -8.1667rem + 16.6667vw, 3.5rem);  /*40px - 56px*/ 
    --fs-preset-2: clamp(2rem, -3.3333rem + 8.3333vw, 2.5rem);     /*32px - 40px*/
    --fs-preset-3: clamp(1.5rem, -3.8333rem + 8.3333vw, 2rem);     /*24px - 32px*/
    --fs-preset-4: clamp(1.25rem, -1.4167rem + 4.1667vw, 1.5rem);  /*20px - 24px*/
    --fs-preset-5: clamp(1rem, -0.3333rem + 2.0833vw, 1.125rem);   /*16px - 18px*/
    --fs-preset-6: clamp(0.875rem, -0.4583rem + 2.0833vw, 1rem);   /*14px - 16px*/
    --fs-preset-7: 1.125rem; /*18px*/
    
    --fw-extrabold:800;
    --fw-bold:     700;
    --fw-semibold: 600;
    --fw-medium:   500;
    --fw-regular:  400;

    --clr-blue-900: 233,  54%,  16%;
    --clr-blue-600: 234,  25%,  52%;
    --clr-pink-600: 341,  92%,  62%;
    --clr-pink-300: 341, 100%,  83%;
    --clr-gray:     232,  10%,  56%;
    --clr-white:      0,   0%, 100%;

    --clr-gradient-pink: linear-gradient(hsl(13, 100%, 64%), hsl(322, 87%, 55%));
    --clr-gradient-purple: linear-gradient(hsl(237, 100%, 64% ), hsl(322, 87%, 55%));
    --clr-gradient-pink-light: linear-gradient(hsla(13, 100%, 64%, 0.5), hsl(322, 87%, 55%, 0.5));
    --clr-gradient-purple-light: linear-gradient(hsl(237, 100%, 64%, 0.5 ), hsl(322, 87%, 55%, 0.5));
}

/* for custom button */
.btn:is(.btn--link){
    --btn-padding-inline:0;
    --btn-padding-block :0;
    --bg-btn:        hsl(var(--clr-white));
    --clr-btn:       hsl(var(--clr-pink-600));
    --bg-btn-hover:  hsl(var(--clr-white));
    --clr-btn-hover: hsl(var(--clr-pink-300));
}

.btn:is(.btn--orange){
    --bg-btn:        var(--clr-gradient-pink);
    --clr-btn:       hsl(var(--clr-white));
    --bg-btn-hover:  var(--clr-gradient-pink-light);
    --clr-btn-hover: hsl(var(--clr-white));
}

.btn:is(.btn--purple){
    --bg-btn:        var(--clr-gradient-purple);
    --clr-btn:       hsl(var(--clr-white));
    --bg-btn-hover:  var(--clr-gradient-purple-light);
    --clr-btn-hover: hsl(var(--clr-white));
}

.btn:is(.btn--black){
    --bg-btn:        hsl(var(--clr-blue-900));
    --clr-btn:       hsl(var(--clr-white));
    --bg-btn-hover:  hsl(var(--clr-blue-600));
    --clr-btn-hover: hsl(var(--clr-white));
}

/* set box-sizing */
*,
*::before, 
*::after{
    box-sizing: border-box;
}

/* reset margin */
h1,
h2,
h3,
h4,
h5,
p,
picture,
body {
    margin: 0;
}

h1,
h2,
h3,
h4{
    line-height: 1.2;
}

/* set default image */
img,
picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


body {
    min-height: 100dvh;
    font-family: var(--ff-base);
    line-height: 1.5;
    background:linear-gradient(hsl(0, 0%, 100%) 50%, hsla(231, 93%, 83%, 0.219));
}

/* Make form elements to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animation for people who' ve turned them off */
@media(pafers-reduced-motion: reduce) {
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* button */
.btn {
    outline: none;
    width: max-content;
    text-decoration: none;
    display: block;
    border-radius: 3.5rem;
    padding-block:  var(--btn-padding-block ,1rem);
    padding-inline: var(--btn-padding-inline ,2rem);
    font-size:      var(--fs-400);
    font-weight:    var(--fw-bold);
    background:     var(--bg-btn);
    color:          var(--clr-btn);
}

/* button hover focus */
.btn:hover,
.btn:focus {
    color :      var(--clr-btn-hover);
    background : var(--bg-btn-hover);
    outline: none;
}

/*------------------------------------------------------*/
/*                    grid-container                    */
/*------------------------------------------------------*/

.grid-container {
    /* User setting */
    --breakout :  1380px;
    --content  :  1120px;
    --full-width :   1fr;
    --space-lr : 1.25rem;
    
    /* calculator content, breakout and full-width size */
    --content-size    : min(100% - (var(--space-lr) * 2), var(--content));
    --breakout-size   : minmax(0, calc((var(--breakout) - var(--content)) * 0.5 ));
    --full-width-size : minmax(var(--space-lr), var(--full-width)); 
    
    /* create map */
    display: grid;
    grid-template-columns:
        [full-width-start] var(--full-width-size)
            [breakout-start] var(--breakout-size)
                [content-start] var(--content-size) [content-end]
            var(--breakout-size) [breakout-end] 
        var(--full-width-size)[full-width-end]    
    ;
}

.grid-container > * {
    grid-column: content;
}

@media (min-width: 700px) {
    .grid-container {
        --space-lr : 2.75rem;
    }
}

/*------------------------------------------------------*/
/*                    header + navigation               */
/*------------------------------------------------------*/

.primary-header {
    padding-block: 1rem;
}

.primary-header .navigation {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-rows: 3.75rem;
    justify-content: space-between;
}

.primary-header img {
    width: 110px;
    height: 28px;
    object-fit: scale-down;
}

/*------------------------------------------------------*/
/*                    hero section                      */
/*------------------------------------------------------*/

.hero-wrapper {
    grid-column: content;
    overflow-y: visible;
    overflow-x: clip;
}

.hero {
    margin-inline: auto;
    padding-block: 4rem;
    display: grid;
}

.hero .hero__title {
    font-size:   var(--fs-preset-1);
    font-weight: var(--fw-extrabold);
    color:       var(--clr-blue-900);
}

.hero .hero__intro {
    font-size:   var(--fs-preset-5);
    font-weight: var(--fw-medium);
    color:       hsl(var(--clr-gray));
}

.hero .hero__pictrue img {
    object-fit:cover;
    max-width: 435px;
    max-height: 409px
} 

.hero  .hero__description {
    width: min(100%, 420px);
}

.hero  .hero__description .hero__title + .hero__intro {
    margin-block-start: 1.5rem;
}

.hero  .hero__description a {
    margin-block-start: 2.5rem;
    margin-block-end:     3rem;
}

/*------------------------------------------------------*/
/*                    course section                    */
/*------------------------------------------------------*/
.course {
    padding-block-start: 4rem;
    padding-block-end: 5rem;
    display: grid;
    justify-items: center;
    row-gap: 4rem;
}

.course .course__intro {
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    color:  hsl(var(--clr-white));
    background: var(--clr-gradient-pink);
}

.course .course__intro__title {
    font-size: var(--fs-preset-3);
}

.course .card {
    width: 100%;
    min-height: 18.75rem;/*300px*/
    
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    gap: 1.5rem;
    
    position: relative;
    padding-inline: 2rem;
    padding-block-start: 4rem;
    padding-block-end: 2.5rem;
    border-radius: 1rem;
    background: hsl(var(--clr-white));
    box-shadow: 0 1.25rem   1.5rem -0.125rem hsla(217, 60%, 76%, 0.1), 
                0  0.5rem 0.625rem  -0.25rem hsla(217, 32%, 63%, 0.1);   
}

.course .card__img {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    transform: translateY(-50%) translateX(75%);
}

.course .card__title {
    font-size:   var(--fs-preset-4);
    font-weight: var(--fw-extrabold);
    color:       hsl(var(--clr-blue-900));
}

.course .card__info {
    font-size:   var(--fs-preset-5);
    font-weight: var(--fw-bold);
    color:       hsl(var(--clr-gray));
}


/*------------------------------------------------------*/
/*                    footer + navigation               */
/*------------------------------------------------------*/

.primary-footer {
    padding-block: 1.5rem;
    background: hsl(var(--clr-blue-900));
}

.primary-footer .navigation {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-rows: 3.75rem;
    justify-content: space-between;
}

.primary-footer img {
    width:    5rem;
    height:1.25rem;
}

@media (min-width: 700px) {


    /*------------------------------------------------------*/
    /*                    header + navigation               */
    /*------------------------------------------------------*/

    .primary-header {
        padding-block: 1.5rem;
    }

    .primary-header .navigation  {
        grid-template-rows: 3rem;
    }

    .hero-wrapper {
        grid-column: content / full-width;
    }


    /*------------------------------------------------------*/
    /*                    hero section                      */
    /*------------------------------------------------------*/

    .hero {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25rem;
    }

    .hero .hero__description {
        align-self: center;
        width:  min(100%, 455px);
    }
    
    .hero .hero__pictrue {
        align-self: start;
        z-index: -1;
    }
    
    .hero .hero__pictrue img {
        max-width:  1390px;
        max-height: 1440px;
        scale:1.7;
        transform: translateY(-16%) translateX(15%);
        object-fit: scale-down;
    } 

    /*------------------------------------------------------*/
    /*                    course section                    */
    /*------------------------------------------------------*/

    .course {
        padding-block-end: 9rem;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
        row-gap:      4rem;
    }

    .course .card {
        min-height: 20.125rem;/*322px*/
        gap:1.5rem;
    }

    .course .card .card__info {
        font-weight: var(--fw-medium);
    }

    /*------------------------------------------------------*/
    /*                    footer + navigation               */
    /*------------------------------------------------------*/

    .primary-footer {
        padding-block: 1.5rem;
    }
    
    .primary-footer .navigation {
        display: grid;
        grid-template-rows: 3rem;
    }
}

@media (min-width: 1024px) {
    /*------------------------------------------------------*/
    /*                    header + navigation               */
    /*------------------------------------------------------*/

    .primary-header {
        padding-block: 1.5rem;
    }

    .primary-header .navigation  {
        grid-template-rows: 3.75rem;
    }

    /*------------------------------------------------------*/
    /*                    hero section                      */
    /*------------------------------------------------------*/

    .hero {
        grid-template-rows: 35rem;
    }

    .hero .hero__description {
        width:  min(100%, 460px);
    }

    .hero .hero__pictrue {
        transform: translateY(-4%) translatex(-5%);
        z-index: -1;
    }
    
    .hero .hero__pictrue img {
        max-width:  2090px;
        max-height: 1870px;
        scale: 1.65;
    } 

    /*------------------------------------------------------*/
    /*                    course section                    */
    /*------------------------------------------------------*/

    .course {
        column-gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        row-gap: 5rem;
    }

    /*------------------------------------------------------*/
    /*                    footer + navigation               */
    /*------------------------------------------------------*/

    .primary-footer {
        padding-block: 1.5rem;
    }
    
    .primary-footer .navigation {
        display: grid;
        grid-template-rows: 3.75rem;
    }
}


@media (min-width: 1800px) {
    .hero-wrapper {
        grid-column: content / breakout;
        overflow-x: visible;
    }
}
